/*------Mobile and small window size -------
*/
@media only screen and (max-width: 600px){
    #figureOne {
    clear: both;
	width: 100%;
	position: static;
	margin-top: -20px;
	}

	.container {
		margin: auto
	}

	body {
		background-color: #e6eaec;
		max-width: 350px;
		min-width:300px;
	}

	#figureTwo {
		clear: both;
		width: 100%;
		margin-top: -40px;
		padding: 2.5%;
		position: static;
	}

	.text {
		max-width:300px;
		float:right;
		margin-top: -60px;
		margin-right:50px;	
	}
}	


/*---------Normal Page Layout------------*/


body {
	width:100%;
	font-family: 'Roboto Slab', serif;

}

h2, #bestPrice, #avgPrice1, #avgPrice2, #name1, #name2 {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}

.text {
	font-size: 1.3em;
}

.container {
	max-width: 1000px;
	min-width:360px;
}

.header {
	background-color: #0c3977;
	height: 75px;	
}

img {
	padding-left: 35px;
	max-width: 75%;
	max-height: 75%;
	float: left;
	padding-top: 10px;
}

h2 {
	display: block;
	float:left;
	padding-left:35px;
	color: white;
}


#figureOne {
	float:left;
	width: 45%;
	height: 300px;
	padding: 2.5% ;
}

#figureTwo {
	float:left;
	width: 45%;
	height: 300px;
	padding: 2.5%;
}

.fig1, .fig2 {
	float: left;
}

figure figcaption {
	text-align: center;
}

.text {
	padding: 2.5%;
	text-align: center;
}

.main {
	background-color: #e6eaec;
	padding-left: 35px
}

.fig1 img, .fig2 img {
	margin: 0;
	padding: 0;
}

figure img {
  box-shadow: 8px 8px 10px #aaa;
  width: 350px;
  min-width:180px;
}

span#bestPrice{
	border-radius:25px;
	background-color: #0fa7d2;
	padding: 6px 10px;
	font-size: 2em;
	color: white;
	letter-spacing: 0.1em;
}

table { 
	padding-top: 15px;

}

span#avgPrice1, span#avgPrice2 {
	border-radius:5px;
	background-color: #0fa7d2;
	padding: 2px 4px;
	font-size: 1.1em;
	color: white;
	letter-spacing: 0.1em;
}

#name1, #name2, #country1, #country2 {
	text-align:left;
	width: 60%;
}

#avgPrice1td, #avgPrice2td, .avgRight {
	text-align: right;
}

#comparison1, #comparison2 {
	border-radius:5px;
	background-color:#0fa7d2;
	font-style: italic;
}

#country1, #country2, .avgRight {
	font-size: 0.9em;
	font-weight: lighter
}